body {
    font-family: Arial, sans-serif;
    background-color: #ffa500;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 40px;
    border-radius:
        10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.form h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form p {
    text-align: center;
    color: #888;
    margin-bottom: 30px;
}

.form input[type="email"],
.form input[type="password"] {
    width: 92%;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.checkbox input[type="checkbox"] {
    margin-right: 5px;
}

.form a {
    color: #4299E1;
    text-decoration: none;
}

.form button {
    background-color: #ffa500;
    color: #fff;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form button:hover {
    background-color: #3085c6;
}
